/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}


/* Header */
header {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to bottom, #05414e, #026c72);
    color: #e0e0e0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
#dp {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #228f5c;
    object-fit: cover;
}
#myName {
    font-size: 2.5em;
}
#tagline {
    font-size: 1.2em;
    color: #ccc;
}


/* Sections */
.container {
    margin: 2% auto;
    padding: 20px;
    width: 90%;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
h2 {
    margin-bottom: 10px;
    color: #05414e;
}
ul {
    list-style-type: disc;
    padding-left: 20px;
}
ul ul {
    list-style-type: circle;
}


/* Projects */
table {
    border-collapse: collapse;
    margin-top: 10px;
}
th, td {
    border: 1px solid #ddd;
    padding: 1.5%;
    text-align: left;
}
th {
    background-color: #05414e;
    color: white;
}


/* Contact Me form */

#contactMe {
    margin: 2% auto;
    padding: 20px;
    width: 90%;
    max-width: 800px;
    background: linear-gradient(to bottom, #20987e, #026f72);
    color: #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
#c_me_txt{
    margin-top: 10px;
    color: #ffffff;
}
form {
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
}
label {
    font-weight: bold;
    margin-bottom: 5px;
}
input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #00aeff;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
button:hover {
    background-color: #0b506e;
}


/* Footer */

footer {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to bottom, #026f72, #05414e);
    position: relative;
}
footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #b1b1b1;
    display: inline-flex;
    align-items: center;
}
footer a i {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
footer a:hover {
    color: #ffffff;
}